body {
  background-color: #1B294B;
  color: #EAE0C8;

  font-family: 'Montserrat', sans-serif;
}

#myau_video{
	width: 100%;
}

.center {
  margin: auto;
  width: 100%;
  max-width: 700px;
  padding: 0px;
  text-align: center;	
}